* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #f9f6f2;
}

html,
body {
    height: 100%;
    touch-action: none;
}

#root {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
